* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #232323;
  overflow: hidden;
  padding: 100px 20px;
  box-sizing: border-box;
}
